@import "../../../styles/index.scss";

.wrapper {
  width: 100%;
  background-color: #1c7578;

  .wrapper_wrapper {
    width: 100%;
    
    border-bottom: 1px solid #fff;

    .container {
      display: flex;
      width: 100%;
      max-width: 1440px;
    margin: 0 auto;
    //   border: 1px solid #fff;
      // margin: 0 auto;

      .footer_image {
        width: 50%;

        .woman {
          width: 100%;
          height: 100%;
        //   height: unset !important;
        }
      }
      .services {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .services_footer {
          width: 70%;
          p {
            span {
              font-size: 16px;
              color: #fff;
              font-family: Work;
              font-weight: bold;
              letter-spacing: 1.5px;
              text-transform: capitalize;
            }
            font-size: 16px;
            color: #fff;
            font-family: Work;
            font-weight: normal;
            margin-bottom: 20px;
            line-height: 23px;
          }

          h2 {
            font-size: 38px;
            font-family: WorkSemi;
            color: #fff;
            margin-bottom: 20px;
            line-height: 40px;
          }

          .btn {
            button {
              padding: 15px 30px;
              border-radius: 40px;
              background-color: #fff;
              border: 2px solid #fff;
              color: #1c7578;
              cursor: pointer;
              font-family: Work;
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 1px;

              &:hover {
                background-color: #dfdcdc;
                color: #1c7578;
              }
            }
          }
        }
      }
    }
  }

  .last_footer {
    padding: 40px;
    display: flex;
    justify-content: flex-end;

    .footer {
      display: flex;
      width: 60%;
      justify-content: space-between;

      ul {
        display: flex;
        
        align-items: center;
        gap: 20px;

        li {
          list-style: none;
          font-size: 16px;
          color: #fff;
          font-family: Work;
          font-weight: normal;
          cursor: pointer;

          .footer_link{
            text-decoration: none;
            color: #fff;
          }

          &:hover{
            color: #ffffffb3;
          }
        }
      }

      p{
        list-style: none;
        font-size: 16px;
        color: #fff;
        font-family: Work;
        font-weight: normal;
      }
    }
  }
}

@include responsive("mobile"){
    .wrapper {
        width: 100%;
        background-color: #1c7578;
      
        .wrapper_wrapper {
          width: 100%;
          max-width: 1440px;
          margin: 0 auto;
          border: 1px solid #fff;
      
          .container {
            display: flex;
            width: 100%;
          //   border: 1px solid #fff;
            // margin: 0 auto;
      
            .footer_image {
              width: 50%;
              display: none;
      
              .woman {
                width: 100%;
                height: 100%;
              //   height: unset !important;
              }
            }
            .services {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 60px 0px;
      
              .services_footer {
                width: 80%;
                p {
                  span {
                    font-size: 16px;
                    color: #fff;
                    font-family: Work;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    text-transform: capitalize;
                  }
                  font-size: 16px;
                  color: #fff;
                  font-family: Work;
                  font-weight: normal;
                  margin-bottom: 20px;
                  line-height: 23px;
                  text-align: center;
                }
      
                h2 {
                  font-size: 28px;
                  font-family: WorkSemi;
                  color: #fff;
                  margin-bottom: 20px;
                  line-height: 35px;
                  text-align: center;
                }
      
                .btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                  button {
                    width: 100%;
                    padding: 10px 30px;
                    border-radius: 40px;
                    background-color: #fff;
                    border: 2px solid #fff;
                    color: #1c7578;
                    cursor: pointer;
                    font-family: Work;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
      
                    &:hover {
                      background-color: #dfdcdc;
                      color: #1c7578;
                    }
                  }
                }
              }
            }
          }
        }
      
        .last_footer {
          padding: 40px;
          display: flex;
          justify-content: center;
      
          .footer {
            display: flex;
            flex-direction: column;
            width: 60%;
            justify-content: space-between;
      
            ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
              margin-bottom: 50px;
      
              li {
                list-style: none;
                font-size: 15px;
                color: #fff;
                font-family: Work;
                font-weight: normal;
                cursor: pointer;

                .footer_link{
                  text-decoration: none;
                  color: #fff;
                  
                }
      
                &:hover{
                  color: #ffffffb3;
                }
              }
            }
      
            p{
              list-style: none;
              font-size: 15px;
              color: #fff;
              font-family: Work;
              font-weight: normal;
              text-align: center;
            }
          }
        }
      }
}
