@import "../../../../styles/index.scss";


.wrapper{
    background-color: #1C7578;
    padding: 100px 0px 100px;
    // position: relative;

    .wrapper_wrapper{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        .container{
            width: 90%;
            margin: 0 auto;
    
            .services{
                width: 60%;

                p {
                    span {
                      font-size: 16px;
                      color: #fff;
                      font-family: Work;
                      font-weight: bold;
                      letter-spacing: 1.5px;
                      text-transform: capitalize;
                    }
                    font-size: 16px;
                    color: #fff;
                    font-family: Work;
                    font-weight: normal;
                    margin-bottom: 20px;
                    line-height: 23px;
                  }

                  h2 {
                    font-size: 38px;
                    font-family: WorkSemi;
                    color: #fff;
                    margin-bottom: 20px;
                  }
            
            
            }

            .reputation_container{
                display: flex;
                gap: 30px;
                width: 100%;
                margin-top: 50px;

                .reputation_text{
                    width: 50%;
                    p {
                        span {
                          font-size: 16px;
                          color: #fff;
                          font-family: Work;
                          font-weight: bold;
                          letter-spacing: 1.5px;
                          text-transform: capitalize;
                        }
                        font-size: 16px;
                        color: #fff;
                        font-family: Work;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 23px;
                      }
    
                      h2 {
                        font-size: 38px;
                        font-family: WorkSemi;
                        color: #fff;
                        margin-bottom: 20px;
                      }

                      .dia_image{
                        margin-top: 20px;

                        .dia_container{
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            border-radius: 30px;
                        }
                      }
                }
            }

            
        }
    }

   
}

@include responsive("mobile"){
    .wrapper{
        background-color: #1C7578;
        padding: 300px 0px 100px;
        margin-top: 50px;
    
        .wrapper_wrapper{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
    
            .container{
                width: 90%;
                margin: 0 auto;
        
                .services{
                    width: 100%;
    
                    p {
                        span {
                          font-size: 16px;
                          color: #fff;
                          font-family: Work;
                          font-weight: bold;
                          letter-spacing: 1.5px;
                          text-transform: capitalize;
                        }
                        font-size: 16px;
                        color: #fff;
                        font-family: Work;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 25px;
                        text-align: center;
                      }
    
                      h2 {
                        font-size: 28px;
                        font-family: WorkSemi;
                        color: #fff;
                        margin-bottom: 20px;
                        text-align: center;
                        line-height: 32px;
                      }
                
                
                }

                .reputation_container{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 100%;
                    margin-top: 50px;
    
                    .reputation_text{
                        width: 100%;
                        p {
                            span {
                              font-size: 16px;
                              color: #fff;
                              font-family: Work;
                              font-weight: bold;
                              letter-spacing: 1.5px;
                              text-transform: capitalize;
                            }
                            font-size: 16px;
                            color: #fff;
                            font-family: Work;
                            font-weight: normal;
                            margin-bottom: 20px;
                            line-height: 23px;
                          }
        
                          h2 {
                            font-size: 24px;
                            font-family: WorkSemi;
                            color: #fff;
                            line-height: 30px;
                            margin-bottom: 20px;
                            text-align: center;
                          }
    
                          .dia_image{
                            width: 100%;
                            margin-top: 20px;
    
                            .dia_container{
                                width: 100%;
                                height: 250px;
                                object-fit: cover;
                                border-radius: 30px;
                            }
                          }
                    }
                }
    
                
            }
        }
    
       
    }
}