@import "../../../styles/index.scss";

.wrapper{
    margin-top: 120px;

    .container{
        background-image: url("../../../../public/assets/images/checkup.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 550px;
        border-radius: 0px 30px 0px 0px;
        position: relative;
        

        .vaccine{
            position: absolute;
            bottom: -60px;
            right: -300px;
            width: 35%;

            .vacine_image{
                width: 100% !important;
                height: 400px;
                border-radius: 0px 0px 30px 0px;
                object-fit: cover;
            }
        }
    }
}

@include responsive("mobile"){

    .wrapper{
        margin-top: 60px;
    
        .container{
            background-image: url("../../../../public/assets/images/checkup.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 350px;
            border-radius: 0px 30px 0px 0px;
            position: relative;
            
    
            .vaccine{
                position: absolute;
                bottom: -220px;
                right: 20px;
                left: 20px;
                width: 90%;
    
                .vacine_image{
                    width: 100% !important;
                    height: 300px;
                    border-radius: 0px 0px 30px 30px;
                    object-fit: cover;
                }
            }
        }
    }
}