@import "../../../styles/index.scss";

.wrapper {
  width: 100%;
  background-color: #FFFFFF;
  padding: 100px 0px;

  .wrapper_wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;

    .container {
      width: 90%;
      margin: 0 auto;

      .review_box {
        width: 60%;
        // padding: 0px 30px 0px 0px;

        p {
          span {
            font-size: 16px;
            color: #1c7578;
            font-family: Work;
            font-weight: bold;
            letter-spacing: 1.5px;
            text-transform: capitalize;
          }
          font-size: 16px;
          color: #3d3d3d;
          font-family: Work;
          font-weight: normal;
          margin-bottom: 20px;
          line-height: 25px;
        }

        h2 {
          font-size: 38px;
          font-family: WorkSemi;
          color: #313131;
          line-height: 45px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 60px;
  }
  
  .top_left,
  .bottom_left,
  .top_right,
  .bottom_right {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .top_left {
    height: 400px;
  }
  
  .bottom_left {
    height: 250px;
  }
  
  .top_right {
    height: 250px;
  }
  
  .bottom_right {
    height: 400px;
  }
  
  .image {
    object-fit: cover;
    border-radius: 16px;
  }

  @include responsive("mobile"){
    .wrapper {
        width: 100%;
        background-color: #FFFFFF;
        padding: 50px 0px 60px;
      
        .wrapper_wrapper {
          width: 100%;
          margin: 0 auto;
          max-width: 1440px;
      
          .container {
            width: 90%;
            margin: 0 auto;
      
            .review_box {
              width: 100%;
              padding: 0px 10px;
              // padding: 0px 30px 0px 0px;
      
              p {
                span {
                  font-size: 16px;
                  color: #1c7578;
                  font-family: Work;
                  font-weight: bold;
                  letter-spacing: 1.5px;
                  text-transform: capitalize;
                }
                font-size: 17px;
                color: #3d3d3d;
                font-family: Work;
                font-weight: normal;
                margin-bottom: 10px;
                line-height: 25px;
                text-align: center;
              }
      
              h2 {
                font-size: 28px;
                font-family: WorkSemi;
                color: #313131;
                line-height: 35px;
                margin-bottom: 20px;
                text-align: center;
              }
            }
          }
        }
      }
      
      .image_grid {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
        
        .top_left,
        .bottom_left,
        .top_right,
        .bottom_right {
          position: relative;
          border-radius: 16px;
          overflow: hidden;
        }
        
        .top_left {
          height: 250px;
        }
        
        .bottom_left {
          height: 250px;
        }
        
        .top_right {
          height: 250px;
        }
        
        .bottom_right {
            height: 250px;
        }
        
        .image {
          object-fit: cover;
          border-radius: 16px;
        }
  }
  