@import "../../../../styles/index.scss";


.wrapper{
    background-color: #F4F0EC;
    padding: 100px 0px 100px;
    position: relative;

    .wrapper_wrapper{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        .container{
            width: 90%;
            margin: 0 auto;
    
            .services{
                width: 60%;

                p {
                    span {
                      font-size: 16px;
                      color: #1C7578;
                      font-family: Work;
                      font-weight: bold;
                      letter-spacing: 1.5px;
                      text-transform: capitalize;
                    }
                    font-size: 16px;
                    color: #fff;
                    font-family: Work;
                    font-weight: normal;
                    margin-bottom: 20px;
                    line-height: 23px;
                  }

                  h2 {
                    font-size: 38px;
                    font-family: WorkSemi;
                    color: #313131;
                    margin-bottom: 20px;
                  }
            
            
            }

            .second{
                margin-top: 60px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px 30px;

                .second_service{
                    width: 100%;
                    // max-width: 380px;
                    min-height: 600px;
                    background-color: #fff;
                    border-radius: 30px;
                    padding: 30px 30px;

                    .service_box{
                        padding: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                        background-color: #f4f0ec;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;
                    }

                    .service_text{

                        h2{
                            font-size: 30px;
                            font-family: WorkSemi;
                            color: #313131;
                            margin-bottom: 16px;
                        }

                        p{
                            font-size: 17px;
                            color: #3d3d3d;
                            font-family: Work;
                            font-weight: normal;
                            line-height: 24px;
                            margin-bottom: 16px;
                        }

                        .btn{
                            margin-top: 20px;
                            border-bottom: 2px solid #1C7578;

                            button{
                                font-size: 16px;
                                color: #1C7578;
                                font-family: Work;
                                font-weight: bold;
                                margin-bottom:5px ;
                                background: transparent;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

   
}

@include responsive("mobile"){
    .wrapper{
        background-color: #1C7578;
        padding: 50px 0px 100px;
    
        .wrapper_wrapper{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
    
            .container{
                width: 90%;
                margin: 0 auto;
        
                .services{
                    width: 100%;
    
                    p {
                        span {
                          font-size: 16px;
                          color: #fff;
                          font-family: Work;
                          font-weight: bold;
                          letter-spacing: 1.5px;
                          text-transform: capitalize;
                        }
                        font-size: 16px;
                        color: #fff;
                        font-family: Work;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 25px;
                        text-align: center;
                      }
    
                      h2 {
                        font-size: 28px;
                        font-family: WorkSemi;
                        color: #fff;
                        margin-bottom: 20px;
                        text-align: center;
                        line-height: 32px;
                      }
                
                
                }
    
                .second{
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 20px 30px;
    
                    .second_service{
                        width: 100%;
                        // max-width: 380px;
                        min-height: 600px;
                        background-color: #fff;
                        border-radius: 30px;
                        padding: 30px 30px;
    
                        .service_box{
                            padding: 10px;
                            width: 60px;
                            height: 60px;
                            border-radius: 10px;
                            background-color: #f4f0ec;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 30px;
                        }
    
                        .service_text{
    
                            h2{
                                font-size: 30px;
                                font-family: WorkSemi;
                                color: #313131;
                                margin-bottom: 16px;
                            }
    
                            p{
                                font-size: 17px;
                                color: #3d3d3d;
                                font-family: Work;
                                font-weight: normal;
                                line-height: 24px;
                                margin-bottom: 16px;
                            }
    
                            .btn{
                                margin-top: 20px;
                                border-bottom: 2px solid #1C7578;
    
                                button{
                                    font-size: 16px;
                                    color: #1C7578;
                                    font-family: Work;
                                    font-weight: bold;
                                    margin-bottom:5px ;
                                    background: transparent;
                                    border: none;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    
       
    }
}