@import "../../../styles/index.scss";

.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    margin-top: 60px;
    padding: 0px 0px 60px;

    .container{
        width: 90%;
        margin: 0 auto;

        .about_about{
            width: 70%;

            p{
                font-size: 16px;
                color: #1c7578;
                font-family: Work;
                font-weight: bold;
                letter-spacing: 1.5px;
                margin-bottom: 16px;
            }

            h2{
                font-size: 36px;
                font-family: WorkSemi;
                color: #313131;
                line-height: 40px;
            }
        }

       

        .about_text{
            width: 60%;
            display: flex;
            gap: 20px;
            margin-top: 20px;

            p{
                font-size: 16px;
                color: #3D3D3D;
                font-family: Work;
                font-weight: normal;
                line-height: 25px;
                // letter-spacing: 1.5px;
            }
        }

        .btn_container{
            margin-top: 40px;

            button{
                padding: 15px 30px;
                border-radius: 40px;
                background-color: #fff;
                border: 2px solid #1c7578;
                color: #1c7578;
                cursor: pointer;
                font-family: Work;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
    
                &:hover{
                    background-color: #1c7578;
                    color: #fff;
                }
            }
        }
    }
}

@include responsive("mobile"){
    .wrapper{
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        margin-top: 260px;
        padding: 0px 0px 60px;
    
        .container{
            width: 90%;
            margin: 0 auto;
    
            .about_about{
                width: 100%;
                padding: 0px 10px;
    
                p{
                    font-size: 16px;
                    color: #1c7578;
                    font-family: Work;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    margin-bottom: 16px;
                    text-align: center;
                }
    
                h2{
                    font-size: 28px;
                    font-family: WorkSemi;
                    color: #313131;
                    line-height: 35px;
                    text-align: center;
                }
            }
    
           
    
            .about_text{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
    
                p{
                    font-size: 16px;
                    color: #3D3D3D;
                    font-family: Work;
                    font-weight: normal;
                    line-height: 25px;
                    text-align: center;
                    // letter-spacing: 1.5px;
                }
            }
    
            .btn_container{
                margin-top: 20px;
                display: flex;
                justify-content: center;
    
                button{
                    padding: 15px 25px;
                    border-radius: 40px;
                    background-color: #fff;
                    border: 2px solid #1c7578;
                    color: #1c7578;
                    cursor: pointer;
                    font-family: Work;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
        
                    &:hover{
                        background-color: #1c7578;
                        color: #fff;
                    }
                }
            }
        }
    }
}