@import "../../../styles/index.scss";

.wrapper{
    width: 100%;
    position: absolute;
    bottom: -10%;
    right: 0;
    // max-width: 1440px;
    // margin: 0 auto;
   

    .container{
        display: flex;
        justify-content: flex-end;
        max-width: 1440px;
    margin: 0 auto;
    width: 100%;
        

        .container_image{
            position: relative;
            width: 85%;

            .emergency{
                width: 100%;
                height: 550px;
                object-fit: cover;
                border-radius: 30px 0px 0px 30px;
            }

            .why_choose{
                position: absolute;
                top: 15%;
                left:-10%;
                background-color: #fff;
                padding: 30px;
                width: 60%;
                max-width: 550px;
                border-radius: 30px;
                // left: 50%;
                // transform: translate(-50%, -50%);

                h2{
                    font-size: 38px;
                    font-family: WorkSemi;
                    color: #313131;
                    margin-bottom: 16px;
                }

                p{
                    font-size: 15px;
                    color: #3d3d3d;
                    font-family: Work;
                    font-weight: normal;
                    margin-bottom: 20px;
                    line-height: 25px;
                }

                .check{
                    margin-left: 20px;

                    .check_text{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        margin-bottom: 12px;
                        

                        .check_icon{
                            width: 19px ;
                            height: 19px;
                        }

                        p{
                            font-size: 18px;
                            color: #3d3d3d;
                            font-family: Work;
                            font-weight: bold;
                            margin-bottom: 0px;
                            // line-height: 22px;
                        }
                    }

                    
                    
                }

                .btn{
                    margin-top: 15px;

                    button{
                        padding: 15px 25px;
                        border-radius: 40px;
                        background-color: #1c7578;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        font-family: Work;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 1px;
            
                        &:hover{
                            background-color: #145153;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@include responsive("mobile"){
    .wrapper{
        width: 100%;
        position: absolute;
        bottom: -4.8%;
        right: 0;
    
        .container{
            
    
            .container_image{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .emergency{
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    border-radius: 0px 0px 0px 0px;
                }
    
                .why_choose{
                    position: absolute;
                    top: 100%;
                    // left: 0%;
                    // right: 10%;
                    background-color: #fff;
                    padding: 30px 20px;
                    width: 90%;
                    margin: 0 auto;
                    max-width: 500px;
                    border-radius: 30px;
                    left: 50%;
                    transform: translate(-50%, -50%);
    
                    h2{
                        font-size: 28px;
                        font-family: WorkSemi;
                        color: #313131;
                        margin-bottom: 16px;
                        text-align: center;
                    }
    
                    p{
                        font-size: 15px;
                        color: #3d3d3d;
                        font-family: Work;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 25px;
                    }
    
                    .check{
                        margin-left: 20px;
    
                        p{
                            font-size: 16px;
                            color: #3d3d3d;
                            font-family: Work;
                            font-weight: bold;
                            margin-bottom: 10px;
                            line-height: 22px;
                        }
                        
                    }
    
                    .btn{
                        margin-top: 15px;
    
                        button{
                            padding: 15px 25px;
                            border-radius: 40px;
                            background-color: #1c7578;
                            color: #fff;
                            border: none;
                            cursor: pointer;
                            font-family: Work;
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: 1px;
                
                            &:hover{
                                background-color: #145153;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
